# Git files
.git
.gitignore

# Node modules
node_modules

# Nuxt build artifacts and cache
.nuxt
.output
dist

# Environment files
.env
*.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE specific
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 